@model Pagination<ProductViewModel>
@{
	ViewData["Title"] = "Index";
	//--------------------------------------
	var Brands = new SelectList(ViewBag.Brands, "Id", "Name");
	var Types = new SelectList(ViewBag.Types, "Id", "Name");
	int BrandId = 0;
	int TypeId = 0;
	//--------------------------------------
	int PageIndex = 1;
	List<int> PageIndexArr = new List<int>();
	int Iterator = (Model.Count/5)+1;
	for (int i = 1; i <= Iterator; i++)
	{
		PageIndexArr.Add(i);
	}
	SelectList Indexes = new SelectList(PageIndexArr);
	//-------------------------------------
	String Sort = "";
	string[] SortArr = new string[2] { "priceAsc", "priceDesc" };
	SelectList SortValues = new SelectList(SortArr);
	//------------------------------------
}
<div class="row">
	<a asp-action="Create" class="btn btn-primary">Add New Product</a>
	<div class ="col-sm-2">
		<center>
			<form class="my-3" method="get" asp-action="Index" asp-controller="Product">
					<div>
					<label class="col-form-label ">Search With Name:</label>
					<input placeholder="Enter A Name" value="@ViewBag.SearchValue" name="Search" class="form-control text-center" />
					</div>
					<div >
					<label class="col-form-label ">Select Type:</label>
						<select asp-for="@TypeId" asp-items="Types" class="form-control text-center">
							<option class="text-center" value=" ">All Types</option>
						</select>
					</div>
					<div >
					<label class="col-form-label ">Select Brand:</label>
						<select asp-for="@BrandId" asp-items="Brands" class="form-control text-center">
							<option class="text-center" value=" ">All Brands</option>
						</select>
					</div>
					<div >
					<label class="col-form-label ">Select Page Number:</label>
						<select asp-for="@PageIndex" asp-items="Indexes" class="form-control text-center">
							<option class="text-center" value="1">All Pages</option>
						</select>
					</div>
					<div >
					<label class="col-form-label ">Search With Price:</label>
						<select asp-for="@Sort" asp-items="SortValues" class="form-control text-center">
							<option class="text-center" value=" ">Default</option>
						</select>
					</div>
					<br />
				<center>
					<div >
						<input type="submit" value="Filter" class="btn btn-success btn-block" />
					</div>
				</center>
			</form>
		</center>
	</div>
	<div class ="col-sm-10">
		<center>
			<h1>All Products</h1>
			<span class="text-danger">
				Total : @Model.Count Results In @Iterator Pages ,
				Current Page Number : @Model.PageIndex & Contains @Model.Data.Count() Products
			</span>
		</center>
		@if (Model.Data.Count() > 0)
		{
			<div class="container">
				<table class="table table-hover table-striped table-bordered dt-responsive nowrap">
					<thead class="bg-dark text-white text-center">
						<tr>
							<th>Id</th>
							<th>Picture</th>
							<th>Name</th>
							<th>Description</th>
							<th>Price</th>
							<th>Brand</th>
							<th>Type</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var Product in Model.Data)
						{
							<tr>
								<td>@Product.Id</td>
								<td>
									<img class="w-75" src="~/@Product.PictureUrl" />
								</td>
								<td>@Product.Name</td>
								<td>@Product.Description</td>
								<td>@Product.Price</td>
								<td>@Product.ProductBrand.Name</td>
								<td>@Product.ProductType.Name</td>
								<td>
									<div class=" d-flex">
										<a class="btn mb-2 text-warning" asp-action="Edit" asp-route-id="@Product.Id"><i class="fas fa-pen"></i> </a>
										<a class="btn text-danger" asp-action="Delete" asp-route-id="@Product.Id"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		else
		{
			<center>
				<div class="mt-3 p-3 alert-warning">
					<h2>There is no Products!</h2>
				</div>
			</center>
		}
	</div>
</div>



@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}